<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="simpleLookups" type="SimpleLookups.Configuration.SimpleLookupsConfigurationSection, SimpleLookups, Culture=neutral"/>
  </configSections>
  <connectionStrings>
    <add name="SimpleLookups" connectionString="Data Source=(localdb)\SL; Initial Catalog=SimpleLookups; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Other" connectionString="Data Source=(localdb)\SL; Initial Catalog=SimpleLookups; Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <simpleLookups idColumnSuffix="Id4" nameColumnSuffix="Name4" descriptionColumnSuffix="Description4" codeColumnSuffix="Code4" activeColumnName="Active4" prefixColumnsWithTableName="false" enableCaching="false">
    <connectionStrings>
      <connectionString isDefault="true" connectionStringName="SimpleLookups"/>
      <connectionString connectionStringName="Other"/>
    </connectionStrings>
  </simpleLookups>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
